@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Prompt';
  src: url('/public/assets/font/Prompt/Prompt-Regular.ttf') format('truetype'),
       url('/public/assets/font/Prompt/Prompt-Black.ttf') format('truetype'),
       url('/public/assets/font/Prompt/Prompt-BlackItalic.ttf') format('truetype'),
       url('/public/assets/font/Prompt/Prompt-Bold.ttf') format('truetype'),
       url('/public/assets/font/Prompt/Prompt-BoldItalic.ttf') format('truetype'),
       url('/public/assets/font/Prompt/Prompt-ExtraBold.ttf') format('truetype'),
       url('/public/assets/font/Prompt/Prompt-ExtraBoldItalic.ttf') format('truetype'),
       url('/public/assets/font/Prompt/Prompt-ExtraLight.ttf') format('truetype'),
       url('/public/assets/font/Prompt/Prompt-ExtraLightItalic.ttf') format('truetype'),
       url('/public/assets/font/Prompt/Prompt-Italic.ttf') format('truetype'),
       url('/public/assets/font/Prompt/Prompt-Light.ttf') format('truetype'),
       url('/public/assets/font/Prompt/Prompt-LightItalic.ttf') format('truetype'),
       url('/public/assets/font/Prompt/Prompt-Medium.ttf') format('truetype'),
       url('/public/assets/font/Prompt/Prompt-MediumItalic.ttf') format('truetype'),
       url('/public/assets/font/Prompt/Prompt-SemiBold.ttf') format('truetype'),
       url('/public/assets/font/Prompt/Prompt-SemiBoldItalic.ttf') format('truetype'),
       url('/public/assets/font/Prompt/Prompt-Thin.ttf') format('truetype'),
       url('/public/assets/font/Prompt/Prompt-ThinItalic.ttf') format('truetype');
}
body {
  font-family: 'Prompt', sans-serif;
  font:400;
  font-style: normal;
}